.foot__bottom {
  height: 80px;
  padding: 28px 0;
}
.foot__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foot__socials {
  display: flex;
  max-width: 186px;
  width: 20%;
  justify-content: space-between;
  gap: auto;
}
