<footer class="footer">
    <div class="container">
      <div class="foot__bottom">
        <div class="foot__inner">
          <img
            src="Images/Logo alt.svg"
            alt="logo"
            width="140px"
            height="22px"
          />
          <div class="foot__socials">
            <img src="images/facebooksvg.svg" />
            <img src="images/twitter.svg" />
            <img src="images/insta.svg" />
            <img src="images/youtube.svg" />
          </div>
        </div>
      </div>
    </div>
</footer>