<header class="header">
    <div class="container">
      <div class="header__top">
        <div class="header__inner">
          <a href = "/index.html" class="main_link"><img src="images/Logo.svg" alt="logo" width="140px" height="22px" /></a>
          <nav class="header__navigation">
            <a href="#" class="header__link">Продукция</a>
            <a href="#" class="header__link">Материалы</a>
            <a href="/about.html" class="header__link">О нас</a>
            <a href="#" class="header__link">Контакты</a>
            <div class="header__icons">
              <a href="#" class="header__link"
                ><img src="images/search.svg" alt="icon"
              /></a>
              <a href="" class="header__link"
                ><img src="images/log-in.svg" alt="icon"
              /></a>
            </div>
          </nav>
        </div>
      </div>
    </div>
</header>